[submodule "src/CLBlast"]
	path = src/CLBlast
	url = https://github.com/hughperkins/CLBlast
[submodule "src/EasyCL"]
    path = src/EasyCL
    url = https://github.com/hughperkins/EasyCL
[submodule "third_party/thrust"]
	path = third_party/thrust
	url = https://github.com/hughperkins/thrust
[submodule "third_party/yaml-cpp"]
	path = third_party/yaml-cpp
	url = https://github.com/hughperkins/yaml-cpp
